Repository angular/angular, pull requests merged in 2020-06, with the labels that each got.

#37484 perf(ngcc): cache parsed tsconfig between runs
  packages/compiler-cli/ngcc/index.ts
  packages/compiler-cli/ngcc/src/ngcc_options.ts
  packages/compiler-cli/ngcc/test/integration/ngcc_spec.ts
  packages/compiler-cli/ngcc/test/ngcc_options_spec.ts
Labels: PR action: merge, PR target: LTS-only, cla: yes, comp: ngcc, comp: performance, type: bug/fix

#37561 fix(core): infinite loop if injectable using inheritance has a custom decorator
  packages/core/src/render3/di.ts
  packages/core/test/render3/providers_spec.ts
Labels: PR action: merge, PR target: LTS-only, cla: yes, comp: core

#37755 9.1.x cp of: fix(docs-infra): fix typo in the deploy-to-firebase.sh script #37754
  aio/scripts/deploy-to-firebase.sh
Labels: PR action: merge, PR target: LTS-only, cla: yes

#37765 9.1.x cp of: fix(docs-infra): fix deploy-to-firebase.sh for master and v10.0.x branches #37762
  aio/scripts/deploy-to-firebase.sh
  aio/scripts/deploy-to-firebase.test.sh
Labels: PR action: merge, PR target: LTS-only, cla: yes
