Repository angular/angular, pull requests merged in 2022-06, with the labels that each got.

#46171 feat(common): add built-in Imgix loader
  packages/common/src/directives/ng_optimized_image/image_loaders/image_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/imgix_loader.ts
  packages/common/src/directives/ng_optimized_image/index.ts
  packages/common/src/directives/ng_optimized_image/ng_optimized_image.ts
  packages/common/src/private_export.ts
  packages/common/test/directives/ng_optimized_image_spec.ts
  packages/common/test/image_loaders/image_loader_spec.ts
  packages/core/test/bundling/image-directive/playground.ts
Labels: comp: common, PullApprove: disable, target: feature

#46295 refactor(common): move LCP image observer to a separate file
  packages/common/src/directives/ng_optimized_image/lcp_image_observer.ts
  packages/common/src/directives/ng_optimized_image/ng_optimized_image.ts
Labels: action: review, comp: common, PullApprove: disable, target: feature

#46294 test(common): optimize image loader tests of the NgOptimizedImage directive
  packages/common/test/directives/ng_optimized_image_spec.ts
  packages/common/test/image_loaders/image_loader_spec.ts
Labels: comp: common, PullApprove: disable, target: feature

#46054 fix(common): sanitize rawSrc and rawSrcset values in NgOptimizedImage directive
  packages/common/src/directives/ng_optimized_image/ng_optimized_image.ts
  packages/common/test/directives/ng_optimized_image_spec.ts
Labels: comp: common, PullApprove: disable, target: feature

#46319 refactor(common): remove code duplication in loaders
  packages/common/src/directives/ng_optimized_image/image_loaders/cloudflare_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/cloudinary_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/image_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/imagekit_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/imgix_loader.ts
Labels: comp: common, PullApprove: disable, target: feature

#46322 feat(common): add warnings re: image distortion
  packages/common/src/directives/ng_optimized_image/ng_optimized_image.ts
  packages/common/test/directives/ng_optimized_image_spec.ts
  packages/core/test/bundling/image-directive/BUILD.bazel
  packages/core/test/bundling/image-directive/e2e/image-distortion/image-distortion.e2e-spec.ts
  packages/core/test/bundling/image-directive/e2e/image-distortion/image-distortion.ts
  packages/core/test/bundling/image-directive/e2e/lcp-check/lcp-check.ts
  packages/core/test/bundling/image-directive/e2e/logo-500w.jpg
  packages/core/test/bundling/image-directive/index.ts
Labels: PullApprove: disable, comp: other, target: feature

#46326 Image loaders test cleanup and the ensurePreconnect fix
  packages/common/src/directives/ng_optimized_image/image_loaders/image_loader.ts
  packages/common/test/image_loaders/image_loader_spec.ts
Labels: action: review, comp: common

#46336 refactor(common): add missing format error call in NgOptimizedImage
  packages/common/src/directives/ng_optimized_image/ng_optimized_image.ts
Labels: action: review, comp: common, PullApprove: disable, target: feature

#46327 Image loaders refactoring
  packages/common/src/directives/ng_optimized_image/image_loaders/cloudflare_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/cloudinary_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/image_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/imagekit_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/imgix_loader.ts
  packages/common/test/image_loaders/image_loader_spec.ts
Labels: comp: common, target: feature

#46229 build(bazel): run aio app tests with bazel-provided chromium
  aio/BUILD.bazel
  aio/karma.conf.js
  aio/package.json
  aio/yarn.lock
Labels: comp: bazel

#46367 Revert "fix(common): sanitize `rawSrc` and `rawSrcset` values in NgOptimizedImage directive"
  packages/common/src/directives/ng_optimized_image/ng_optimized_image.ts
  packages/common/test/directives/ng_optimized_image_spec.ts
Labels: comp: common, PullApprove: disable, target: feature

#46375 Bump version to "v14.0.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge, comp: build & ci, PullApprove: disable

#46377 Bump version to "v14.1.0-next.1" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge, comp: build & ci, PullApprove: disable

#46414 Image loaders url build
  packages/common/src/directives/ng_optimized_image/image_loaders/cloudflare_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/cloudinary_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/image_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/imagekit_loader.ts
  packages/common/src/directives/ng_optimized_image/image_loaders/imgix_loader.ts
Labels: action: merge, comp: common, target: feature

#46463 Bump version to "v14.0.3" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge, comp: build & ci, PullApprove: disable

#46464 docs: release notes for the v14.0.3 release
  CHANGELOG.md
Labels: action: merge, comp: build & ci, PullApprove: disable

#46465 Bump version to "v14.1.0-next.2" with changelog.
  CHANGELOG.md
  package.json
Labels: action: merge, comp: build & ci, PullApprove: disable
