Repository angular/angular, pull requests merged in 2025-05, with the labels that each got.

#61185 Bump version to "v19.2.10" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge, PullApprove: disable

#61187 docs: release notes for the v19.2.10 release
  CHANGELOG.md
Labels: action: merge, PullApprove: disable, area: docs

#61189 Bump version to "v20.0.0-rc.0" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge, PullApprove: disable

#61367 Bump version to "v19.2.11" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge, PullApprove: disable

#61368 docs: release notes for the v19.2.11 release
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable

#61371 Bump version to "v20.0.0-rc.1" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge, area: build & ci, PullApprove: disable

#61372 docs: release notes for the v20.0.0-rc.1 release
  CHANGELOG.md
Labels: action: merge, PullApprove: disable, area: docs

#61379 add back schema function
  packages/forms/experimental/src/api/structure.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/schema.ts
  packages/forms/experimental/test/api/when.spec.ts
  packages/forms/experimental/test/node.spec.ts
  packages/forms/experimental/test/path.spec.ts
  packages/forms/experimental/test/resource.spec.ts
  packages/forms/experimental/test/types.spec.ts
Labels: area: forms

#61183 Support marking fields as Dirty
  packages/forms/experimental/src/api/data.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/controls/field.ts
  packages/forms/experimental/src/field_node.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/src/path_node.ts
  packages/forms/experimental/test/field_node.spec.ts
  packages/forms/experimental/test/resource.spec.ts
Labels: action: cleanup, area: forms, detected: feature

#61378 Adding state/field/valueOf/StateOf/FieldOf to field context
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/field_node.ts
  packages/forms/experimental/test/BUILD.bazel
  packages/forms/experimental/test/field_context.spec.ts
Labels: area: forms, detected: feature

#61591 Bump version to "v19.2.12" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge, PullApprove: disable

#61592 docs: release notes for the v19.2.12 release
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable, area: docs

#61594 Bump version to "v20.0.0-rc.2" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge, area: build & ci, PullApprove: disable

#61595 docs: release notes for the v20.0.0-rc.2 release
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable, area: docs

#61614 Drop resolve from everywhere
  packages/forms/experimental/docs/signal-forms.md
  packages/forms/experimental/docs/tutorial.md
  packages/forms/experimental/src/api/async.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/field_node.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/test/field_node.spec.ts
  packages/forms/experimental/test/resource.spec.ts
Labels: area: forms, detected: feature

#61546 refactor validation status
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/field_node.ts
  packages/forms/experimental/test/validation_status.spec.ts
Labels: area: forms, target: feature

#61707 add shorthand to validate with http resource
  packages/forms/experimental/src/api/async.ts
  packages/forms/experimental/test/BUILD.bazel
  packages/forms/experimental/test/resource.spec.ts
  packages/forms/experimental/test/validation_status.spec.ts
Labels: area: forms, target: feature

#61474 Adding min and max validators.
  packages/forms/experimental/src/api/built_in_validators.ts
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/src/api/metadata.ts
  packages/forms/experimental/test/api/built_in_validators.spec.ts
  packages/forms/experimental/test/field_node.spec.ts
Labels: area: forms, PullApprove: disable, detected: feature

#61724 docs: cherrypick v20 release notes to main
  CHANGELOG.md
Labels: action: merge, target: minor, area: docs

#61730 build: bump peer deps for angular-in-memory-web-api
  packages/misc/angular-in-memory-web-api/package.json
Labels: area: build & ci, target: patch

#61711 update docs
  packages/forms/experimental/docs/signal-forms.md
  packages/forms/experimental/src/api/async.ts
  packages/forms/experimental/src/api/structure.ts
Labels: area: forms, target: feature
