Repository angular/angular, pull requests merged in 2025-06, with the labels that each got.

#61835 Rename FieldDirective to Control
  packages/forms/experimental/docs/signal-forms.md
  packages/forms/experimental/docs/tutorial.md
  packages/forms/experimental/public_api.ts
  packages/forms/experimental/src/controls/control.ts
Labels: area: forms

#61829 inherit disabled reason to children
  packages/forms/experimental/docs/signal-forms.md
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/src/api/metadata.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/field_node.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/test/field_node.spec.ts
Labels: area: forms, target: feature

#61852 refactor(forms): update status states based on prev discussion
  packages/forms/experimental/docs/signal-forms.md
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/field_node.ts
  packages/forms/experimental/test/resource.spec.ts
  packages/forms/experimental/test/validation_status.spec.ts
Labels: area: forms, target: feature

#61834 switch from $state to ()
  packages/forms/experimental/docs/signal-forms.md
  packages/forms/experimental/docs/tutorial.md
  packages/forms/experimental/src/api/structure.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/controls/control.ts
  packages/forms/experimental/src/field_node.ts
  packages/forms/experimental/test/api/validators/email.spec.ts
  packages/forms/experimental/test/api/validators/max.spec.ts
  packages/forms/experimental/test/api/validators/max_length.spec.ts
  packages/forms/experimental/test/api/validators/min.spec.ts
  packages/forms/experimental/test/api/validators/min_length.spec.ts
  packages/forms/experimental/test/api/validators/pattern.spec.ts
  packages/forms/experimental/test/api/validators/required.spec.ts
  packages/forms/experimental/test/api/validators/requiredTrue.spec.ts
  packages/forms/experimental/test/api/when.spec.ts
  packages/forms/experimental/test/field_context.spec.ts
  packages/forms/experimental/test/field_node.spec.ts
  packages/forms/experimental/test/resource.spec.ts
  packages/forms/experimental/test/validation_status.spec.ts
Labels: area: forms, target: feature

#61884 Bump version to "v20.1.0-next.0" with changelog.
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable

#61887 docs: align JSDocs of experimental sf logic+structure functions
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/src/api/structure.ts
  packages/forms/experimental/test/types.spec.ts
  packages/forms/experimental/test/validation_status.spec.ts
Labels: action: cleanup, target: feature, area: docs

#61940 Bump version to "v20.0.2" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge, area: build & ci, PullApprove: disable

#61941 docs: release notes for the v20.0.2 release
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable, area: docs

#62001 Bump version to "v20.0.3" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge, area: build & ci, PullApprove: disable

#62002 docs: release notes for the v20.0.3 release
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable, area: docs

#62003 Bump version to "v20.1.0-next.1" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge, area: build & ci, PullApprove: disable

#61079 refactor: add a new version of the logic node
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/src/logic_node_2.ts
  packages/forms/experimental/test/logic_node_2.spec.ts
Labels: area: forms, target: feature

#62267 Bump version to "v20.0.5" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge, area: build & ci, PullApprove: disable

#62220 Migrate to LogicNodeBuilder & LogicNode
  packages/forms/experimental/src/api/async.ts
  packages/forms/experimental/src/api/data.ts
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/src/api/structure.ts
  packages/forms/experimental/src/field/context.ts
  packages/forms/experimental/src/field/data.ts
  packages/forms/experimental/src/field/metadata.ts
  packages/forms/experimental/src/field/node.ts
  packages/forms/experimental/src/field/state.ts
  packages/forms/experimental/src/field/structure.ts
  packages/forms/experimental/src/field/validation.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/src/logic_node_2.ts
  packages/forms/experimental/src/path_node.ts
  packages/forms/experimental/src/schema.ts
  packages/forms/experimental/test/field_node.spec.ts
  packages/forms/experimental/test/logic_node_2.spec.ts
  packages/forms/experimental/test/path.spec.ts
Labels: area: forms, target: feature
