Repository angular/angular, pull requests merged in 2025-07, with the labels that each got.

#62403 docs: release notes for the v20.0.6 release
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable

#61438 standard schema support
  packages/forms/experimental/src/api/standard_schema.ts
  packages/forms/experimental/src/api/standard_schema_types.ts
  packages/forms/experimental/test/node/BUILD.bazel
  packages/forms/experimental/test/node/api/validators/email.spec.ts
  packages/forms/experimental/test/node/api/validators/max.spec.ts
  packages/forms/experimental/test/node/api/validators/max_length.spec.ts
  packages/forms/experimental/test/node/api/validators/min.spec.ts
  packages/forms/experimental/test/node/api/validators/min_length.spec.ts
  packages/forms/experimental/test/node/api/validators/pattern.spec.ts
  packages/forms/experimental/test/node/api/validators/required.spec.ts
  packages/forms/experimental/test/node/api/validators/requiredTrue.spec.ts
  packages/forms/experimental/test/node/api/when.spec.ts
  packages/forms/experimental/test/node/controls/controls.spec.ts
  packages/forms/experimental/test/node/dynamic.spec.ts
  packages/forms/experimental/test/node/field_context.spec.ts
  packages/forms/experimental/test/node/field_node.spec.ts
  packages/forms/experimental/test/node/form.spec.ts
  packages/forms/experimental/test/node/logic_node_2.spec.ts
  packages/forms/experimental/test/node/path.spec.ts
  packages/forms/experimental/test/node/resource.spec.ts
  packages/forms/experimental/test/node/types.spec.ts
  packages/forms/experimental/test/node/validation_status.spec.ts
  packages/forms/experimental/test/web/BUILD.bazel
  packages/forms/experimental/test/web/standard_schema.spec.ts
Labels: area: forms, target: feature

#62449 docs(signal-forms): fix typos in example code in signal forms doc
  packages/forms/experimental/docs/signal-forms.md
Labels: area: forms, area: docs

#62561 Bump version to "v20.1.0" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, PullApprove: disable

#62562 docs: release notes for the v20.1.0 release
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable, area: docs

#62564 Bump version to "v20.2.0-next.0" with changelog.
  CHANGELOG.md
Labels: action: merge, area: build & ci, PullApprove: disable

#62634 refactor(signal-forms): remove error logic function
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/test/node/field_node.spec.ts
Labels: area: forms, target: feature

#62653 refactor(signal-forms): more ergonomic metadata key creation
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/src/api/metadata.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/api/validators/pattern.ts
  packages/forms/experimental/src/field/metadata.ts
  packages/forms/experimental/src/field/node.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/src/logic_node_2.ts
Labels: area: forms, target: feature

#62667 Bump version to "v20.1.1" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, PullApprove: disable

#62669 Bump version to "v20.2.0-next.1" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, PullApprove: disable

#62657 feat(signal-forms): allow validation logic to return null and false
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/api/validation_errors.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/src/logic_node_2.ts
  packages/forms/experimental/test/node/field_node.spec.ts
Labels: area: forms, detected: feature

#62695 Bump version to "v20.1.2" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Labels: action: merge, area: build & ci, PullApprove: disable

#62656 refactor(signal-forms): unify how users access metadata added with `define` and `metadata`
  packages/forms/experimental/src/api/async.ts
  packages/forms/experimental/src/api/data.ts
  packages/forms/experimental/src/api/metadata.ts
  packages/forms/experimental/src/api/standard_schema.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/field/data.ts
  packages/forms/experimental/src/field/node.ts
  packages/forms/experimental/src/logic_node_2.ts
  packages/forms/experimental/test/node/resource.spec.ts
Labels: area: forms

#62659 Review of api/validators
  packages/forms/experimental/src/api/validation_errors.ts
  packages/forms/experimental/src/api/validators/email.ts
  packages/forms/experimental/src/api/validators/index.ts
  packages/forms/experimental/src/api/validators/max.ts
  packages/forms/experimental/src/api/validators/max_length.ts
  packages/forms/experimental/src/api/validators/min.ts
  packages/forms/experimental/src/api/validators/min_length.ts
  packages/forms/experimental/src/api/validators/pattern.ts
  packages/forms/experimental/src/api/validators/required.ts
  packages/forms/experimental/src/api/validators/types.ts
  packages/forms/experimental/src/api/validators/util.ts
  packages/forms/experimental/test/node/api/validators/email.spec.ts
  packages/forms/experimental/test/node/api/validators/max.spec.ts
  packages/forms/experimental/test/node/api/validators/max_length.spec.ts
  packages/forms/experimental/test/node/api/validators/min.spec.ts
  packages/forms/experimental/test/node/api/validators/min_length.spec.ts
  packages/forms/experimental/test/node/api/validators/pattern.spec.ts
  packages/forms/experimental/test/node/api/validators/required.spec.ts
  packages/forms/experimental/test/node/field_node.spec.ts
  packages/forms/experimental/test/node/validation_status.spec.ts
  packages/forms/experimental/test/web/standard_schema.spec.ts
Labels: area: forms

#62713 refactor(signal-forms): rework metadata API
  packages/forms/experimental/public_api.ts
  packages/forms/experimental/src/api/async.ts
  packages/forms/experimental/src/api/data.ts
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/src/api/metadata.ts
  packages/forms/experimental/src/api/property.ts
  packages/forms/experimental/src/api/standard_schema.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/api/validators/max.ts
  packages/forms/experimental/src/api/validators/max_length.ts
  packages/forms/experimental/src/api/validators/min.ts
  packages/forms/experimental/src/api/validators/min_length.ts
  packages/forms/experimental/src/api/validators/pattern.ts
  packages/forms/experimental/src/api/validators/required.ts
  packages/forms/experimental/src/controls/interop_ng_control.ts
  packages/forms/experimental/src/field/data.ts
  packages/forms/experimental/src/field/metadata.ts
  packages/forms/experimental/src/field/node.ts
  packages/forms/experimental/src/field/property.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/src/logic_node_2.ts
  packages/forms/experimental/test/node/api/validators/max.spec.ts
  packages/forms/experimental/test/node/api/validators/max_length.spec.ts
  packages/forms/experimental/test/node/api/validators/min.spec.ts
  packages/forms/experimental/test/node/api/validators/min_length.spec.ts
  packages/forms/experimental/test/node/api/validators/pattern.spec.ts
  packages/forms/experimental/test/node/controls/controls.spec.ts
  packages/forms/experimental/test/node/field_node.spec.ts
  packages/forms/experimental/test/node/resource.spec.ts
Labels: area: forms, target: feature

#62781 Bump version to "v20.2.0-next.2" with changelog.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  CHANGELOG.md
  package.json
Labels: action: merge, area: build & ci, PullApprove: disable

#62810 refactor(signal-forms): cleanup for api/logic & api/structure
  packages/forms/experimental/src/api/logic.ts
  packages/forms/experimental/src/api/property.ts
  packages/forms/experimental/src/api/structure.ts
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/field/node.ts
  packages/forms/experimental/src/field/submit.ts
  packages/forms/experimental/src/logic_node.ts
  packages/forms/experimental/src/logic_node_2.ts
  packages/forms/experimental/test/node/field_node.spec.ts
  packages/forms/experimental/test/node/form.spec.ts
Labels: area: forms, target: feature

#62847 Code cleanup and docs for some of the field node implementation
  packages/forms/experimental/src/field/context.ts
  packages/forms/experimental/src/field/manager.ts
  packages/forms/experimental/src/field/node.ts
  packages/forms/experimental/src/field/property.ts
  packages/forms/experimental/src/field/util.ts
  packages/forms/experimental/src/logic_node_2.ts
Labels: area: forms, target: feature

#62845 cleanup & type improvements for standard schema validator
  .aspect/rules/external_repository_action_cache/npm_translate_lock_MzA5NzUwNzMx
  package.json
  packages/forms/experimental/src/api/validation_errors.ts
  packages/forms/experimental/src/api/validators/standard_schema.ts
  packages/forms/experimental/test/node/BUILD.bazel
  packages/forms/experimental/test/node/api/validators/standard_schema.spec.ts
  packages/forms/experimental/test/web/BUILD.bazel
  packages/forms/experimental/test/web/standard_schema.spec.ts
  pnpm-lock.yaml
  yarn.lock
Labels: area: forms, target: feature

#62830 docs/test for async validation running only after sync valid
  packages/forms/experimental/src/api/async.ts
  packages/forms/experimental/test/node/resource.spec.ts
Labels: area: forms, target: feature, area: docs

#62904 test(forms): update failing API golden test
  goldens/public-api/forms/experimental/index.api.md
Labels: area: forms, target: feature

#62888 docs and cleanup for field implementation
  goldens/public-api/forms/experimental/index.api.md
  packages/forms/experimental/src/api/types.ts
  packages/forms/experimental/src/field/proxy.ts
  packages/forms/experimental/src/field/state.ts
  packages/forms/experimental/src/field/validation.ts
  packages/forms/experimental/test/node/field_node.spec.ts
  packages/forms/experimental/test/node/field_proxy.spec.ts
Labels: area: forms, target: feature
